body{
	background-repeat: no-repeat;
	height: 100vh;
	background-attachment: fixed;
	background-size: 100%;
	font-family: 'Lato';
	line-height: 1.5;
}

#part1{
	background-image: url("https://source.unsplash.com/n8vDuIpGb0c");
	height: 100vh;
	background-size: cover;
}

#part2{
	background-color: snow;
	padding: 4rem 1rem;
	height: stretch;
}

#food{
	margin: 2rem;
}

#food:after{
	 display:block;
     content: '';
     background-color: tomato;
     height: 2px;
     transform: scaleX(1);
     width:10%;
     margin: 0 auto;
     margin-top: 1rem;
     margin-bottom: 6rem;
}

#text2{
	 text-align: center;
	 margin:0 8vw;
}

p{
	margin-bottom: 1rem;
}

#cols{
	margin: 1.5rem 0 1rem 0;
}

#cols i{
	margin: 2rem 0 1rem 0;
	color: tomato;
}

#part3 img{
	height: 200px;
	float: left;
	width: 100%;
	margin: 0 auto;
}

#link {
    text-decoration: none !important;
    color: ;
    font-size: 1.2rem;
    margin-right: 1.5rem;
      }

#link:after {
  display:block;
  content: '';
  background-color: cyan;
  height: 2px;
  transform: scaleX(0);
  transition:transform 0.25s;
}
#link:hover:after {
  transform: scale(1);
}
#mainavbar .navbar-brand{
   margin: 32px 64px;
   width: 50px;
   height: 50px;
   display: 
}

#para{
	font-weight: 400;
	color: white;
	font-size: 2.5rem;
	margin-left: 15vw;
	padding-top: 20%;
}

#navlinks{
	margin-right: 80px;
}
.navbar{
	margin: 0;
	padding: 0;
}
#mainavbar .nav-link{
	margin-top: 0;
	padding-top: 0;
	margin-bottom: 15px;
	margin-right: ;
	justify-content: flex-end;
	font-weight: bold;
	font-size: 1.2rem;
	color: white;
}

 #buttons{
 	display: flex;
 	margin-left: 1%;
 	font-size: 2rem;
 	padding: 0 2rem;
 }

#button1{
	background-color: #27ae60;
	margin-right: 24px;
	padding-left: 32px;
	text-decoration: none;
	padding-right: 32px;
	color: white;
	border-radius: 500px;
	display: inline-block;
}

#button1:hover {
	background-color: #28a745;
	transform: scale(1.2);
	margin-right: 3vw;
	transition: background-color .2s, transform .2s, margin .2s; 
}

#button2{
	border: 2px solid aqua;
	color: cyan;
	margin-right: 24px;
	padding-left: 32px;
	text-decoration: none;
	padding-right: 32px;
	border-radius: 500px;
	display: inline-block;
}

#button2:hover {
	background-color: aqua;
	color: white;
	transform: scale(1.1);
	transition: background-color .2s, transform .2s, margin .2s, color .2s; 
}


.navbar.scrolled{
    background: lightpink;
    transition: background 1s;
}

#part4{
	background-color: peachpuff;
	display: block;
}

#h2{
	padding: 4rem 7rem;
}

#h2:after{
	 display:block;
     content: '';
     background-color: tomato;
     height: 2px;
     transform: scaleX(1);
     width:10%;
     margin: 0 auto;
     margin-top: 1rem;
     margin-bottom: 6rem;
     }


#part4 img{
	width: 200px;
	height: 404px;
	margin-top: 0rem;
	margin-bottom: 10rem;
	margin-right: 0;
	margin-left: 55%;
}

#part4 .line{
	display: flex;
	margin-top: 2rem;
	margin-right: 5rem;
}

#part4 .count{
	border-radius: 60%;
	border: 2px solid white;
	display: inline-block;
	width: 10%;
	text-align: center;
	color: white;
	padding: 0.5rem 0.5rem;
}

#part4 .content{
	text-align: left;
	margin-left: 2rem;
	font-weight: bold;
}

#part4 .playstore{
	display: flex;
}

#part4 .playstore img{
	margin-top: 100px;
	width: 150px;
	height: 50px;
}

.part5 {

		background-color: snow;
		padding: 4rem 1rem;
}

#heading{
	padding: 4rem 1rem 3rem 1rem;
}

#heading:after{
	 display:block;
     content: '';
     background-color: tomato;
     height: 2px;
     transform: scaleX(1);
     width:10%;
     margin: 0 auto;
     margin-top: 1rem;
     margin-bottom: 2rem;
     }

.caption{
	font-size: 20px;
}

#cap{
  display: inline;
  line-height: 0.8cm;
}

i{

	color: tomato ;
}

p a{
	color: lightsalmon;
}

p a:hover{

	color: lightsalmon;
	text-decoration: none;
	font-size: 1.1em;
    transition: font-size 0.2s;
}

#part5b{

	background-image: url("https://source.unsplash.com/exSEmuA7R7k");
	background-size: cover;
	background-position: center;
}

#section{

	padding: 4rem 1rem;
}

#columns{
   
   	padding-top: 3rem;	
}

#columns i{
	padding-bottom: 1rem;
}

#pizza{
	color: white;
	text-align: center;
}

#pizza:after{
	 display:block;
     content: '';
     background-color: tomato;
     height: 2px;
     transform: scaleX(1);
     width:10%;
     margin: 0 auto;
     margin-top: 1rem;
     margin-bottom: 2rem;
     }

#review{
	font-size: 1.7rem;
	font-weight: 700;
	line-height: 2.5rem;
	text-align: left;
	color: white;
}

#review img{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	margin-right: 5px;
	margin-top: 10px;
}

#part6{

	background-color: lavender;
}

#healthy{
	text-align: center;
}

#healthy:after{
	 display:block;
     content: '';
     background-color: tomato;
     height: 2px;
     transform: scaleX(1);
     width:10%;
     margin: 0 auto;
     margin-top: 1rem;
     margin-bottom: 2rem;
     }

#col1{
	background-color: white;
	width: 30%;
	margin: 1.66%;
	float: left;
	border-radius: 25px;
	padding: 1rem;
}

.hrstyle{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    width: 70%;
    margin-top: 2rem;
}

#big{
	color: green;
	font-size: 3rem;
	margin: 1rem 1rem 1rem 0;
}

#small{
	color: green;
}

.sec{
	margin-top: 1rem;
	margin-bottom: 4rem;
}

.button3{
	text-align: center;
	color: white;
	padding: 1rem;
	text-align: center;
    border-radius: 60px;
    border: 1px solid green;
    display: block;
    margin: 2rem;
    background-color: green;
}

.lines{
	line-height: 1.3cm;
}
}