body{

	background-image: url("https://source.unsplash.com/n8vDuIpGb0c");
	background-repeat: no-repeat;
	background-size: 100%;
	font-family: 'Lato';
	line-height: 1.5;

}

#link {
    text-decoration: none !important;
    color: white;
    font-size: 1.2rem;
    margin-right: 1.5rem;
      }

#link:after {
  display:block;
  content: '';
  background-color: cyan;
  height: 2px;
  transform: scaleX(0);
  transition:transform 0.25s;
}
#link:hover:after {
  transform: scale(1);
}
#mainavbar .navbar-brand{
   margin: 32px 32px;
   width: 50px;
   height: 50px;
   display: 
}

#para{
	font-weight: 400;
	color: white;
	font-size: 2.5rem;
	margin-left: 15vw;
	padding-top: 5%;
}
.navbar{
	margin: 0;
	padding: 0;
}
#mainavbar .nav-link{
	margin-top: 0;
	padding-top: 0;
	margin-bottom: 15px;
	justify-content: flex-end;
	font-weight: bold;
	font-size: 1.2rem;
	color: white;
}

 #buttons{
 	display: flex;
 	margin-left: 1%;
 	font-size: 2rem;
 	padding: 0 2rem;
 }

#button1{
	background-color: #27ae60;
	margin-right: 24px;
	padding-left: 32px;
	text-decoration: none;
	padding-right: 32px;
	color: white;
	border-radius: 500px;
	display: inline-block;
}

#button1:hover {
	background-color: #28a745;
	transform: scale(1.2);
	margin-right: 3vw;
	transition: background-color .2s, transform .2s, margin .2s; 
}

#button2{
	border: 2px solid aqua;
	color: cyan;
	margin-right: 24px;
	padding-left: 32px;
	text-decoration: none;
	padding-right: 32px;
	border-radius: 500px;
	display: inline-block;
}

#button2:hover {
	background-color: aqua;
	color: white;
	transform: scale(1.1);
	transition: background-color .2s, transform .2s, margin .2s, color .2s; 

